<% include head %>
<!-- Dialog for connecting to a new server -->
<div class="reveal-modal" id="newServer" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Connect to a server</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <input type="text" placeholder="irc.example.com" id="newServerAddr" />
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <input type="text" placeholder="#channelName" id="newServerChannel" />
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <input type="number" id="portNum" value="6667" />
    </div>
    <div class="small-10 columns">
      <label> Port number - 6697 turns on SSL </label>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <a href="#" class="success button close-reveal-modal" id="connectToNewServer">Connect</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog for joining a new channel -->
<div class="reveal-modal" id="newChannel" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Join a channel</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <input type="text" placeholder="#channelName" id="newChannelName" />
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <a href="#" class="success button close-reveal-modal" id="joinNewChannel">Join</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog for setting or removing a channel as a favorite -->
<div class="reveal-modal" id="toggleFave" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Manage favorites</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <p>
        Your favorites are a collection of servers and channels that you will be
        automatically connected to every time you log in to aIRChat.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <p id="faveText">
        <!-- Set by JS -->
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><a href="#" class="success button close-reveal-modal" id="confirmToggleFave">Confirm</a></li>
        <li><a href="#" class="button close-reveal-modal">Cancel</a></li>
      </ul>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog asking for confirmation to part from channel -->
<div class="reveal-modal" id="partChannel" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Leave channel</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <p><!-- Filled by JS --></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="button-group">
        <li><a href="#" class="success button close-reveal-modal" id="confirmPartChannel">Confirm</a></li>
        <li><a href="#" class="button close-reveal-modal">Cancel</a></li>
      </ul>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog for changing the user's nick -->
<div class="reveal-modal" id="changeNickModal" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Change your nick</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <p>
        Change the name that people will see alongside all of the messages you send
        to channels or users on the currently selected server.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <input type="text" id="newNickInput" placeholder="New nick" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <a href="#" class="success button close-reveal-modal" id="changeNickConfirm">Confirm</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog for seeing a list of nicks of users in the active channel. -->
<div class="reveal-modal" id="getNickList" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1><!-- Filled by JS --></h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div id="nickListPane">
        <table id="listOfNicks">
          <thead>
            <tr>
              <th>Nick</th>
              <th>Last Message</th>
            </tr>
          </thead>
          <tbody>
            <!-- Filled by JS -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog for sending a new private message -->
<div class="reveal-modal" id="privMsg" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Send a private message</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <input type="text" placeholder="nickname" id="privMsgNick" />
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <textarea id="privMsgContents" placeholder="message to user"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <a href="#" class="success button close-reveal-modal" id="sendPrivMsg">Send</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Dialog for setting profile information -->
<div class="reveal-modal" id="profileSettings" data-reveal>
  <div class="row">
    <div class="small-12 columns">
      <h1>Profile settings</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns">
      <h2><%= username %></h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns">
      <img class="thumbnail" id="ownProfilePic" src="<%= profilepic %>" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <p>
        Your profile picture is set using a URL for the picture you want to use.
        Leaving this field blank will result in no change to your current setting.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <input type="text" id="profilePicLocation" placeholder="Image URL" />
     </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <p>
        If you do not wish to change your password, ignore the following two fields.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <label for="newPasswordRepeat">Confirm</label>
      <input type="password" id="newPasswordRepeat" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <p>
        Enter your password to authorize this change to your profile.
      </p>
      <input type="password" id="passwordConfirm" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <a href="#" id="submitProfile" class="close-reveal-modal success button">Submit changes</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Nav bar for chat management -->
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">aIRChat</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="#">Chat</a>
        <ul class="dropdown">
          <li><a href="#" data-reveal-id="newServer">Connect to server</a></li>
          <li><a href="#" data-reveal-id="newChannel">Join a channel</a></li>
          <li><a href="#" data-reveal-id="toggleFave">Manage favorite</a></li>
          <li><a href="#" data-reveal-id="partChannel">Leave active channel</a></li>
          <li><a href="#" data-reveal-id="changeNickModal">Change your nickname</a></li>
          <li><a href="#" data-reveal-id="getNickList">List of users</a></li>
          <li><a href="#" data-reveal-id="privMsg">Send a private message</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="#" data-reveal-id="profileSettings">Profile</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </section>
</nav>
<!-- Chat content -->
<!-- Channel and private message chat listing -->
<dl class="tabs vertical" id="chatList" data-tab>
</dl>
<!-- Content of chat -->
<div class="tabs-content vertical" id="chatContent">
  <div class="content active" id="helpSection">
    <p>
      You have not connected to a server yet. To get started, click the "Connect to Server" option
      under the chat dropdown. If you don't know where to go first, connect to irc.freenode.net and
      provide #aIRChat as the channel to talk to other aIRChat users!
    </P>
  </div>
</div>
<input type="text" id="messageInput" placeholder="Message" />
<script src="/javascripts/users.js"></script>
<script src="/javascripts/chats.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/notifier.js"></script>
<script src="/javascripts/stash.min.js"></script>
<script type="text/javascript">
  var hostname = '<%= host %>';
  var username = '<%= username %>';
  var sid = '<%= sessionID %>';
  var profilepic = '<%= profilepic %>';
  var heartbeat_interval = <%= heartbeat_interval %>;
  var heartbeat_timeout = <%= heartbeat_timeout %>;
</script>
<script src="/javascripts/chatmain.js"></script>
<% include foot %>
